.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transform 0.3s;

  &__icon {
    font-size: 6rem;
    margin-bottom: 5rem;
    display: inline-block;
    background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color: transparent;
    background-clip: text;
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
